.idea
*.iml
java-client/target
java-client/*.iml


dotNet-client/*/[Bb]in/
dotNet-client/*/[Oo]bj/
dotNet-client/*/[Rr]elease/
dotNet-client/*/[Dd]ebug/

js-client/node_modules
js-client/package-lock.json

php-client/vendor
php-client/composer.lock